@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { 
    background-color: black;
    color: white;
}
main {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.53);
    margin-top: 9rem;
}
/* 스크롤 상관 없이 헤더 고정 */
.fixed-header {
    position: fixed;
    width: 100%;
    height: 9rem;
    top: 0;
    z-index: 999;
    /* 그라데이션 효과 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
}
#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    font-family: 'NEXON Lv1 Gothic OTF';
    margin: 0 214.8px;
}
.main-header--container {
    width: min(100%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.blind {
    /* 'display: none'으로 하면 되는데 시각장애인을 위해 아래의 코드 사용 */
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.main-text {
    margin-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--gutter);
    font-family: 'NEXON Lv1 Gothic OTF';
}

.main-text > h1 {
    font-family: "Hubballi";
    color: var(--green-1);
    font-size: var(--hero);
    font-weight: 200;
}

.main-text > h2 {
    font-size: var(--heading3);
}

.main-header--container > ul {
    display: flex;
    font-size: 1.8rem;
    gap: 2rem;
}

.main-header--container > ul >li:hover {
    color: var(--green);
}