body { 
    background-color: black;
    color: white;
}
main {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.53);
}
#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}
.main-header--container {
    width: min(100%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.main-text {
    margin-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--gutter);
}

.main-text > h1 {
    font-family: "Hubballi";
    color: var(--green-1);
    font-size: var(--hero);
    font-weight: 200;
}

.main-text > h2 {
    font-size: var(--heading3);
}

.main-header--container > ul {
    display: flex;
    font-size: 1.8rem;
    gap: 2rem;
}

.main-header--container > ul >li:hover {
    color: var(--green);
}