@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.main-header--container > ul > li:nth-child(4) { 
    color: #0BEC12;
}

#interview-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% 9rem);
    font-family: 'NEXON Lv1 Gothic OTF';
    margin: 0 137.2px;
    padding: 0 40px;
}


.interview-top {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: min(100%, 1200px);
    padding: 0 40px;
    font-family: 'NEXON Lv1 Gothic OTF';
    margin-bottom: 25px;
    margin-top: 16px;
}


.interview-text-center {
    font-size: 2.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    gap: var(--gutter);
    font-style: normal;
}

.interview-top >a {
    font-size: 1.6rem;
    gap: var(--gutter);
    position: absolute;
    font-style: normal;
    right: 10px;
    cursor: pointer;
}

/* grid 형식으로 */
.interview-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    justify-items: center;
}

/* 여기서부터 list */
.interview-list {
    width: min(100%, 1200px);
    padding: 0 40px;
    background-color: #333333;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    position: relative;
    margin-right: 40px;
    margin-left: 40px;
    flex-direction: column;
}

.interview-profile-top {
    display: flex;
    width: 100%;
}
.interview-profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.interview-list:hover {
    position: relative;
    top: -2px;
}

.interview-image {
    width: 70px;
    height: 70px;
    background-color: white;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interview-image>img {
    width: 100%;
    object-fit: contain;
    transition: 0.3s;
    padding: 1rem 2rem;
}

.interview-list:hover .interview-image > img {
    transform: scale(1.1);
}

.interview-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    box-sizing: border-box;
}

.interview-info h2 {
    font-size: 2rem;
    font-weight: 200;
    vertical-align: top;
}

.interview-passion {
    display: flex;
    width: 100%;

}

.interview-passion > p {
    font-size: 1.6rem;

}
.interview-text {
    text-align: left;
    font-size: 3rem;
    justify-content: left;
}

.interview-tags {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    vertical-align: bottom;
}

.interview-tags {
    background-color: #c54422;
    padding: 6px 8px;
    font-size: var(--body2);
    border-radius: 5px;
    color: white;
}


.interview-more {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.interview-more > div {
    height: 2px;
    background-color: rgba(236, 236, 236, 0.466);
    transition: 0.5s;
    z-index: 1;
} 


.interview-list:hover .interview-more > div:nth-of-type(1) {
    width: 50%;
    margin-right: auto;
}

.interview-list:hover .interview-more > div:nth-of-type(3) {
    width: 50%;
    margin-left: auto;
}

.interview-text {
    text-align: left;
    font-size: 1.2rem;
}

