.detail-container {
    margin-top: 60px;
    width: 820px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 15px 40px;
}

.form-container {
    margin-bottom: 100px;
}

.detail-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}


.detail-top-left img {
    width: 250px;
    height: 356px;
    box-shadow: 5px 5px 5px #e4d0f9;
    border-radius: 10px;
}

.detail-bottom {
    margin-top: 30px;
}




.review-content {
    min-height: 150px;
    border-radius: 5px;
    border: 5px solid #e9d4ff;
    display: flex;
    align-items: center;
    margin-top: 7px;
    padding: 0 0 5px 10px;
}

.review-content p {
    text-align: start;
}

#input7 {
    background-color: #e9d4ffb6;
    border-radius: 10px;
    color:black;
    margin-top: 40px;
    height: 55px;
    width: 150px;
    box-shadow: 5px 5px 5px #a861e6;
    border: none;
    outline: none;
    font-size: 20px;
    position: relative;
}

#input7:hover {
    transform: scale(1.1);
    background-color:#caa1ef;
}

.delete-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-top-right {
    width: 440px;
}



.detail1 {
    width: 400px;
    border-radius: 5px;
    border: 5px solid #e9d4ff;
    display: flex;
    align-items: center;
    padding: 30px 20px 20px 20px;
    z-index: 888;
    height: 356px;
    display: flex;
    flex-direction: column;
    text-align: left;
}


.detail1 p {
    display: inline;
    color: gray;
    margin-right: 5px;
}

.detail1-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0 15px 15px 35px;
}

