{% extends 'base.html' %}

{% block content %}


{% for idea in ideas %}
<div class="col-md-8">
    <div class="image_content">
        {% if idea.image %}
        <img src="{{ idea.image.url }}" alt=" idea thumbnail">
        {% endif %}
        <div class="star">
            <button class="star-btn" data-id="{{ idea.id }}">
                {% if idea.id in starred_ideas %}
                <i class="ri-star-fill"></i>
                {% else %}
                <i class="ri-star-line"></i>
                {% endif %}
            </button>
        </div>
    </div>
    <div class="col-content">
        <a href="/{{idea.id}}" class="title">{{idea.title}}<i class="ri-navigation-fill"></i> {{ review.title }}</a>
        <div class="col-content-2">
            <div class="col-space">

                <div class="interest_content">
                    <p>관심도:</p>
                    <button class="interest-btn" data-id="{{ idea.id }}" data-action="increase">+</button>
                    <span id="interest-{{ idea.id }}">{{ idea.interest }}</span>
                    <button class="interest-btn" data-id="{{ idea.id }}" data-action="decrease">-</button>
                </div>
                <div>
                    <p>개발툴|{{ idea.devtool }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}