<h1>글 수정하기</h1>



<form action="/{{review.id}}/update" method="post">
  {% csrf_token %}
    <label>제목
      <input name="title" placeholder="제목" value="{{review.title}}" /> <br/>
    </label>
    <label>감독
      <input name="director" placeholder="감독" value="{{review.director}}"/> <br/>
    </label>
    <label>개봉일
      <input name="year" placeholder="개봉일"  value="{{review.year}}"/> <br/>
    </label>
    <label>주연
      <input name="actor" placeholder="주연" value="{{review.actor}}"/> <br/>
    </label>
    <label>장르
      <select name="genre">
        <option value="action">Action</option>
        <option value="comedy">Comedy</option>
        <option value="drama">Drama</option>
        <option value="horror">Horror</option>
        <option value="romance">Romance</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="documentary">documentary</option>
        <option value="animation">animation</option>
        <option value="disaster">disaster</option>
        <option value="art">art</option>
      </select> <br/>
    </label>
    <label>별점
      <input name="rating" placeholder="별점" value="{{review.rating}}"/> <br/>
    </label>
    <label>러닝타임
      <input name="time" placeholder="러닝타임" value="{{review.time}}"/> <br/>
    </label>
    <label>리뷰<br/>
      <textarea name="content" cols="30" rows="10" placeholder="내용">{{review.content}}</textarea>
    </label>
    <label>사진 업로드
      <input type="file" name="image" accept="image/*">
    </label>
    
    <div>
      <input type="submit" value="수정완료">
    </div>
</form>