<h1>글 수정하기</h1>

{{post.id}}

<form action="/{{review.id}}/update" method="post">
    {% csrf_token %}
    <input name="title" placeholder="제목"  value="{{review.title}}"/> <br/>
    <input name="director" placeholder="감독" value="{{review.director}}"/> <br/>
    <input name="year" placeholder="개봉일" value="{{review.year}}"/> <br/>
    <input name="actor" placeholder="주연" value="{{review.actor}}" /> <br/>
    <input name="genre" placeholder="장르" value="{{review.genre}}"/> <br/>
    <input name="rating" placeholder="별점" value="{{review.rating}}"/> <br/>
    <input name="time" placeholder="러닝타임" value="{{review.time}}"/> <br/>
    <textarea name="content" cols="30" rows="10" placeholder="내용">{{review.content}}</textarea>
    <div>
      <input type="submit" value="수정완료">
    </div>
  </form>