{% load static %}
<html>

<head>
    <title>mymovie</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ga+Maamli&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding&display=swap');
</style>

    </style>
</head>

<body>
    <div class="page-header">
        <div class="page-header-content">
            <a href="/" class="mymovie">
                <h1>🎬  my Movie reviews 🍿</h1>
            </a>
            <a href="/create" class="plus">
                <i class="ri-pen-nib-line"></i>
                <p>Add a new review </p>
            </a>
        </div>
    </div>
    <div class="content-container">
        <div class="content">
            <div class="row">
                {% block content %}
                {% for review in reviews %}
                <div class="col-md-8">
                    {% if review.image %}
                    <img src="{{ review.image.url }}" alt=" Movie Poster">
                    {% endif %}
                    <div class="col-content">
                        <a href="/{{review.id}}" class="title"> <i class="ri-navigation-fill"></i> {{ review.title }}</a>
                        <div class="col-content-2">
                            <div class="col-space">
                                <div><p>개봉일|</p>{{ review.year }}</div>
                                <div><p>장르|</p>{{ review.genre }}<br/></div>
                            </div>
                            <div class="col-space">
                                <div class="">
                                    <p>별점|</p>{{ review.rating }}
                                </div>
                                <a href="/{{review.id}}" ><p>🍿🥤</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>