<h1><a href="/"><h1>my Movie reviews</h1></a></h1>


{{review.title}}
<p>개봉일 {{ review.year }}</p>
<p>장르 {{ review.genre }}</p>
<p>별점 {{ review.rating }}</p>
<p>감독 {{ review.director }}</p>
<p>주연 {{ review.actor }}</p>
<p>장르 {{ review.genre }}</p>
<p>러닝타임 {{ review.time }}</p>
{{review.content}}<br/>

<a href="/{{review.id}}/update"> 수정 </a>
<form action="/{{review.id}}/delete" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
</form>


<!-- {% for review in reviews %}
    <div>
        {{ review }}
        <img src="{{review_create.image.url}}" alt="{{review_create.image}}">
    </div>
{% endfor %}



