{% load static %}
<html>

<head>
    <title>mymovie</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ga+Maamli&display=swap');
    </style>
</head>

<body>
    <div class="page-header">
        <div class="page-header-content">
            <a href="/" class="mymovie">
                <h1>🎬  my Movie reviews 🍿</h1>
            </a>
            <a href="/create" class="plus">
                <i class="ri-pen-nib-line"></i>
                <p>Add a new review </p>
            </a>
        </div>
    </div>
    <div class="content-container">
        <div class="content">
            <div class="row">
                {% block content %}
                {% for review in reviews %}
                <div class="col-md-8">
                    <a href="/{{review.id}}"> <i class="ri-navigation-fill"></i>{{ review.title }}</a>
                    <p>개봉일 {{ review.year }}</p>
                    <p>장르 {{ review.genre }}</p>
                    <p>별점 {{ review.rating }}</p>
                    {% if review.image %}
                    <img src="{{ review.image.url }}" alt=" Movie Poster">
                    {% endif %}
                </div>
                {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>